*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
.store{
    margin: auto;
    width: 60%;
    min-height: 100%;
}
h1{
    font-size: 60px;
    padding: 20px;
    text-align: center;
    font-family:'Whisper', cursive;
}
.shoes{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.card{
    border-radius: 20px; 
    padding: 8px;
    width:30%;
    min-height:360px;
    box-shadow: 4px 4px 20px -3px rgb(163, 161, 161);
}
.image{
    width: 100%;
    height:250px;
    overflow: hidden;
    border-radius: 20px;
}
.image > img{
    width:100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.image > img:hover{
transform: scale(1.1);
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}
.details .description{
    display: flex;
    flex-direction: column;
    gap:3px;
}
.description > p{
    font-family: 'Nunito Sans', sans-serif;
}
.description :nth-child(2),.description :nth-child(3){
opacity: 0.5;
}
.card .cart > img{
    width:40px;
    transition: all 0.3s ease-in-out;
}
.card .cart > img:hover{
    transform: scale(1.2);
}
